button {
  font-weight: 600;
  background-color: rgb(113, 163, 217);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px 55px 15px 55px;

  cursor: pointer;
}

button:hover {
  background-color: rgb(66, 135, 245);
}

.image-container {
  border: none;
  width: 500px;
  height: 500px;
}

.main-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-type-radio-group {
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
